################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EconoMe/v15/Server/sqlite3
/.vs/EconoMe/v15/.suo
/.vs
/EconoMe/EconoMe/obj
/EconoMe/EconoMe.Android/obj
/EconoMe/EconoMe.IOS/obj
*.user
/EconoMe/EconoMe/bin/Debug/netstandard2.0
/EconoMe/EconoMe.Android/bin/Debug
/EconoMe/EconoMe.IOS/bin/iPhone/Debug
